@import "http://webfonts.ru/import/arnamu.css";
@import "http://webfonts.ru/import/didactgothic.css";
@import "http://webfonts.ru/import/days.css";

/* CSS Document */

body,html{
	height: 100%;
}


.menu{
	text-align:center;
	height:100px;
	width:100%;
	background: #FFFAFA;
	clear: both;
	opacity: 0.9;
}

.menu ul{
	text-align:center;
	padding: 1.25% 0 0 0;


}
.menu li{
	padding: 1.25% 0 0 0;
	text-align: center;
	margin-right: 6.25%;
	font-family: 'Didact Gothic';
	font-weight: 700;
	font-size: 150%;
	display:inline-block;
	zoom: 1;
	float: right;
}
.menu li a{
	color: black;
	text-decoration: none;
	clear: both;
}

.menu_info li a{
	color: white;
	clear: both;
	text-decoration: none;
}


.menu li a:hover{
	text-decoration: underline;
	clear: both;
}
.main{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
}

#logo{
	width: 100%;
	margin-bottom: 1%;

}
.step{
	width: 100%;
	height:50px;
	background: #0294B5;
	box-shadow: 8px 8px 9px rgba(0,0,0,0.5);
	-o-box-shadow:8px 8px 9px rgba(0,0,0,0.5);
	-moz-box-shadow:8px 8px 9px rgba(0,0,0,0.5);
	-webkit-box-shadow:8px 8px 9px rgba(0,0,0,0.5);
}

.step p{
	color: white;
	font-size: 150%;
	padding: 2% 0 0 0.625%;
	font-family: 'Arian AMU';
	width: 100%;
	font-weight: 400;
}

.step_one{
	float:left;
	width: 33.2%;
	height: 50px;
}

.step_two{
	float:left;
	width: 33.2%;
	height: 50px;
}
.step_three{float:left; width: 33.2%; height: 50px;}

.why_bus{
	width: 100%;
	height: auto;
	background:#D3D3D3;
	opacity: 0.65;
}

.bus_text{
	padding: 2% 0 2% 2%;
	font-family: 'Arian AMU';
	font-size: 120%;
	font-weight: 400;
}


.frame{
	width: 100%;
	margin: 4.5% 0 0 0;
	height: auto;
}

.input{width: 21%; height:50px; margin-left: 1.50%; margin-right: 1.50%; font-size: 112.5%; padding-left: 0.36%;
	border-radius: 3px;}


.input:focus{
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius: 3px;
	height: 50px;
}

.text_contact{width: 90%; height: auto;
}

.text_contact h2{
	padding: 0 0 0 10.5%;
	font-family: 'Arian AMU';
	font-size: 130%;
	font-variant: sans-serif;
	font-weight: 400;
}

.text h1{
	padding: 5% 0 0 10%;
	font-family: 'Times New Roman';
	font-size:130%;
	font-variant: sans-serif;
}

.wrapper{
	width: 95.5%;
	height: auto;
	margin: 3.5% 0 0 0;
}

.table{
	display: table;
	width: 100%;
	height: auto;
	border: 1px #D3D3D3 solid;
	border-width: 1px;
	box-shadow: -1px 1.5px 1.5px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: -1px 1.5px 1.5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: -1px 1.5px 1.5px 0px rgba(0,0,0,0.35);
	-o-box-shadow: -1px 1.5px 1.5px 0px rgba(0,0,0,0.35);
}

.row{
	display: table-row;
}

.row_info{
	display: table-row;
}

.row:hover{
	background: #EEFFEE;
}

.row:active{
	background: #AAEEFF;
}

.row b{
	font-style: normal;
	font-weight: bold;
	font-size: 100%;
	font-family: 'Arian AMU';
}

.col{
	display: table-cell;
}

.col i{
	font-style: normal;
	font-size: 100%;
	font-family: 'Arian AMU';
}

.col b{
	font-weight: 700;
	font-size: 120%;
	font-family: 'Arian AMU';
	word-wrap: break-word
}

.col h2{
	font-style: normal;
	font-size: 115%;
	font-family: 'Arian AMU';
}

.col h3{
	font-style: normal;
	font-size: 125%;
	font-family: 'Times New Roman';
	color: black;
}

.date {
	display:table-cell;
	padding: 2.25% 0 1.5% 1.5%;
	text-align: left;
	line-height: 185%;
	width:10.1%;
	border-bottom: 1px solid gray;
	border-width: 1px 1px 1px 1px;
	word-wrap: normal;

}

/*.time_in_way {
	padding: 1.75% 0 1.25% 1.5%;
	text-align: left;
	line-height: 185%;
	width:16.1%;
	border-bottom: 1px solid gray;
	border-width: 1px 1px 1px 1px;
	word-wrap: normal;
}


.time_in_way h2{
	font-style: normal;
	font-size: 125%;
	font-family: 'Arian AMU';
}
*/

.c{
	display: table-cell;
	width: 22%;
	height: auto;
	padding: 2.25% 0 1.5% 1.75%;
	text-align: left;
	line-height: 185%;
	border-bottom: 1px solid gray;
	border-width: 1px 1px 1px 1px;
}

/*.schedule_table{
	margin: 100px 0 0 0;
	font-size: 20px;
	font-style: italic;
	font-family: 'Times New Roman';
}

.schedule_table b{
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	font-family: 'Times New Roman';
}*/


.footer{
	height: 18%;
	background:#D3D3D3;
	min-width: 100%;
	max-width: 150%;
	margin:	3.375% 0 0 0;
	opacity: 0.9;

}

.footer_text{
	padding:1.25% 0 0 0;
	font-family: 'Didact Gothic';
	font-weight: 700;
	font-size: 150%;
	text-align: center;
	color: #000;
}

.button{
	margin-left: 1.50%;
	margin-right: 1.50%;
	width: 21.2%;
	height: 55px;
	text-decoration:none;
	text-align:center;
	border:solid 1px #0294b5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
	font:125% 'Arian AMU', Gadget;
	font-weight:bold;
	color:#e9f3f5;
	background:#0294b5;
	-webkit-box-shadow:0px 0px 2px #bababa, inset 20px 20px -20px #ffffff;
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 20px 20px -20px #ffffff;
	box-shadow:0px 0px 2px #bababa, inset 20px 20px -20px #ffffff;
	text-shadow: 2px 0px 0px #050505;
	filter: dropshadow(color=#050505, offx=2, offy=0); }
.button:hover{
	border:solid 1px #0294b5;
	width: 21.3%;
	height: 55px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
	font:125% 'Arian AMU', Gadget;
	font-weight:bold;
	color:#e9f3f5;
	background:#1DBBC4;
	-webkit-box-shadow:0px 0px 2px #bababa, inset 20px 20px -20px #ffffff;
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 20px 20px -20px #ffffff;
	box-shadow:0px 0px 2px #bababa, inset 20px 20px -20px #ffffff;
	text-shadow: 2px 0px 0px #050505;
	filter: dropshadow(color=#050505, offx=2, offy=0);}
.button:active{
	width: 21.3%;
	height: 55px;
	border:solid 1px #0294b5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
	font:125% 'Arian AMU', Gadget;
	font-weight:bold;
	color:#e9f3f5;
	background:#1DCCD5;
	-webkit-box-shadow:0px 0px 2px #bababa, inset 20px 20px -20px #ffffff;
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 20px 20px -20px #ffffff;
	box-shadow:0px 0px 2px #bababa, inset 20px 20px -20px #ffffff;
	text-shadow: 2px 0px 0px #050505;
	filter: dropshadow(color=#050505, offx=2, offy=0);}

.bus{
	width: 50%;
	height: auto;
	margin: 8.5% 0 0 0;
}

.salon{
	display: table;
	width: 70%;
	height: 240px;
	border: 4px #D3D3D3 solid;
	border-width: 1px;
	border-radius: 50px 50px 0 0;
	-webkit-border-radius: 50px 50px 0 0;
	-moz-border-radius: 50px 50px 0 0;
}

.series{
	display: table-row;
	width: 200px;
}

.place{
	display: table-cell;
	padding: 2.5% 0 0 0%;
	width: 5%;
	height: 5%;
}

.p{
	width: 2.5%;
}

.p b{
	font-family: 'Arian AMU';
	font-size: 130%;
	font-style: solid;
}

.image_table{
	margin: 5%;
	display: table;
	width: 40%;
	height: auto;
	box-shadow: 6px 6px 20px rgba(0,0,0,0.5);
	-moz-box-shadow: 6px 6px 20px rgba(0,0,0,0.5);
	-o-box-shadow: 6px 6px 20px rgba(0,0,0,0.5);
	-webkit-box-shadow: 6px 6px 20px rgba(0,0,0,0.5);
}

.image_row{
	display: table-row;
	height: auto;
}

.icon {

	font-family: 'Days';
	font-size: 130%;
}

.icon a{
	font-weight: 700;
	color: black;

}

.icon a:hover{
	color: green;
}

.icon a:active{
	color: black;
}

.icon b{
	font-size: 140%;
	font-weight: bold;
}

.bg_one{
	background: #0294B5;
	opacity: 0.75;
	display: table-cell;
	width: 10%;
	height: 150px;
	padding: 10% 0 0 0;
	text-align: center;

}

.bg_two{
	background:  #FFFAFA;
	opacity: 0.75;
	display: table-cell;
	width: 10%;
	height: 150px;
	padding: 10% 0 0 0;
	text-align: center;
}

.bg_three{
	background:#D3D3D3;
	opacity: 0.75;
	display: table-cell;
	width: 10%;
	height: 150px;
	padding: 10% 0 0 0;
	text-align: center;


}

.bg_four {
	background:#1DCCD5;
	opacity: 0.75;
	display:table-cell;
	width: 10%;
	height: 150px;
	padding: 10% 0 0 0;
	text-align: center;


}

.bg_one a{
	background: #0294B5;
	opacity: 0.75;
	display: block;
	height: 100%;
	text-decoration: none;


}

.bg_two a{
	background: #FFFAFA;
	opacity: 0.75;
	display: block;
	height: 100%;
	text-decoration: none;

}

.bg_three a{
	background:#D3D3D3;
	opacity: 0.75;
	display: block;
	height: 100%;
	text-decoration: none;

}

.bg_four a{
	background: #1DCCD5;
	opacity: 0.75;
	display: block;
	height: 100%;
	text-decoration: none;

}


/*.cell_menu{
	width: 15%;
	height: 250px;
	display: table-cell;
	border: 5px solid black;

}*/

.payments{
	margin: 5% 0 0 0;
	width: 100%;
	display: table;
}

.form_pay{
	display: table-cell;
	width: 35%;
	height: auto;

}

.detals{
	display: table-cell;
	width: 20%;
	height: auto;
	padding: 0 0 0 5%;
}

#pay_content{
	margin: 5%;
}

#pay_content h1{
	font-size: 160%;
	font-weight: 700;
	font-family: 'Arian AMU';
}

#pay_content .pay_cell h2{
	margin: 4% 0 0 6%;
	font-size: 140%;
	font-weight: 500;
	font-family: 'Arian AMU';

}

#detals_content{
	margin: 5%;
	padding: 4% 0 4% 4%;
	background: #D3D3D3;
	opacity: 0.9;

}

#detals_content h1{
	font-size: 150%;
	font-family: 'Arian AMU';
	font-weight: 500;
}

.pay_table{
	display: table;
}

.pay_row{
	display: table-row;
}

.pay_cell{
	display: table-cell;
	padding: 5% 0 0 3%;
	width: 5%;
}

.pay_text h3{
	font-size: 100%;
	font-weight: 700;
	font-family: 'Arian AMU';
	color: gray;
}

.pay_cell h3{

	font-size: 100%;
	font-weight: 200;
	font-family: 'Arian AMU';
}

.input_pay{
	margin: 0 0 0 2%;
	width: 14%;
	border-radius: 5px;

}

.detals_text{
	padding: 3% 0 0 5%;
}

.name_cell{
	display: table-cell;
	padding: 5% 0 0 1%;
	width: 20%;

}

.name_cell h2{
	margin: 4% 0 0 6%;
	font-size: 130%;
	font-weight: 500;
	font-family: 'Arian AMU';
}

.pay_cell_text{
	display: table-cell;
	padding: 5% 0 0 1%;
	width: 20%;
}

.pay_text{
	display: table-cell;
	padding: 3% 0 0 0;
	width: 10%;
	margin: 0 0 15% 0;

}

.pay_submit{
	display: table-cell;
	padding: 3% 0 0 3.7%;

}

.pay_button{
	width: 60%;
	height: 55px;
	text-decoration:none;
	text-align:center;
	border:solid 1px #0294b5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
	font:22px 'Arian AMU', Gadget;
	font-weight:bold;
	color:#e9f3f5;
	background:#0294b5;
	-webkit-box-shadow:0px 0px 2px #bababa, inset 20px 20px -20px #ffffff;
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 20px 20px -20px #ffffff;
	box-shadow:0px 0px 2px #bababa, inset 20px 20px -20px #ffffff;
	text-shadow: 2px 0px 0px #050505;
	filter: dropshadow(color=#050505, offx=2, offy=0);
}
.pay_button:hover{
	border:solid 1px #0294b5;
	width: 60%;
	height: 55px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
	font:22px 'Arian AMU', Gadget;
	font-weight:bold;
	color:#e9f3f5;
	background:#1DBBC4;
	-webkit-box-shadow:0px 0px 2px #bababa, inset 20px 20px -20px #ffffff;
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 20px 20px -20px #ffffff;
	box-shadow:0px 0px 2px #bababa, inset 20px 20px -20px #ffffff;
	text-shadow: 2px 0px 0px #050505;
	filter: dropshadow(color=#050505, offx=2, offy=0);
}
.pay_button:active{
	width: 60%;
	height: 55px;
	border:solid 1px #0294b5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
	font:22px 'Arian AMU', Gadget;
	font-weight:bold;
	color:#e9f3f5;
	background:#1DCCD5;
	-webkit-box-shadow:0px 0px 2px #bababa, inset 20px 20px -20px #ffffff;
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 20px 20px -20px #ffffff;
	box-shadow:0px 0px 2px #bababa, inset 20px 20px -20px #ffffff;
	text-shadow: 2px 0px 0px #050505;
}

.input_design{
	height: 40px;
	width: 400%;
	padding: 0 0 0 15%;
	font-size: 140%;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius: 5px;
	border: solid 2px #CCCCCC;
}

.info_one{
	display: table-cell;
	margin: 5% 0 0 20%;
	height: auto;
	width: 20%;
	border: 2px solid #CDC9C9;
	border-width: 1px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.info_one h1{
	padding: 3% 0 0 10%;
	font-size: 160%;
	font-weight: 700;
	font-family: 'Arian AMU';
}

.info_one h2{
	padding: 4.5% 0 0 10%;
	font-size: 140%;
	font-weight: 500;
	font-family: 'Arian AMU';
}

.info_one h3{
	padding: 6% 0 5% 10%;
	font-size: 130%;
	font-weight: 400;
	font-family: 'Arian AMU';
	line-height: 170%;
}


.info_two{
	display: table-cell;
	margin: 5% 20% 0 0;
	height: auto;
	width: 20%;
	border-width: 1px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border: 1px solid #CDC9C9;
}

.info_two h1{
	padding: 3% 0 0 10%;
	font-size: 160%;
	font-weight: 700;
	font-family: 'Arian AMU';
}

.info_two h2{
	padding: 4.5% 0 0 10%;
	font-size: 140%;
	font-weight: 500;
	font-family: 'Arian AMU';
}

.info_two h3{
	padding: 6% 0 5% 10%;
	font-size: 130%;
	font-weight: 400;
	font-family: 'Arian AMU';
	line-height: 170%;
}

.busTable {
	cursor: pointer;
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

.busTable td:hover {
	background: #fbf8e9;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.busTable td{
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 10px;
	text-align: left;
}


.busTable tr:first-child{
	border-left: none;
}

.busTable th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.busTable th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.busTable th:only-child{
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.busTable tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.busTable tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

.info{
	width: auto;
	height: auto;
	margin: 8.5% 0 0 0;
	position: absolute;
	right: 100px;
}

#chooseButton{
	width: auto;
}
